# Conception BDD Normalisée et Conforme au RGPD (SIDORA AI)
---
##

In [ ]:
# import
from sqlalchemy.orm import sessionmaker
from sqlalchemy import create_engine
from sqlalchemy.orm import joinedload
import pandas as pd

# импорт ваших моделей
from components.models import Client, Produit, Commande, DonnePersonnel

In [13]:
# db_reader.py
# создаем engine (укажите ваш путь к БД)
engine = create_engine("sqlite:///ma_base.bd")  # или ваша база

# создаем сессию
Session = sessionmaker(bind=engine)
session = Session()

In [8]:
# Функция для чтения таблицы и возврата DataFrame
def read_table(table_class, limit=None):
    """
    table_class: класс SQLAlchemy (например, Client, Commande)
    limit: опционально, количество строк
    """
    query = session.query(table_class)
    if limit:
        query = query.limit(limit)
    df = pd.read_sql(query.statement, session.bind)
    return df

In [11]:
read_table(DonnePersonnel, 5)

   client_id          login  mot_de_passe
0          1          dford  pE_y6XurWv+i
1          2    tinamathews  h8lZ7DgA8^^1
2          3        shaun07  (x&gTAhvY0WS
3          4  monroecynthia  p1&*%BqASq%6
4          5   marystephens  5I*P&ckC$b+z

In [14]:
session.close()